.test-letter {
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.11rem;
}

.test-letter-correct {
  color: #6aff00;
}

.test-letter-incorrect {
  color: #ff3c00;
}

.test-letter-not-attempted {
  color: white;
}

@media (max-width: 800px) {
  .test-letter {
    font-size: 12px;
    line-height: 8px;
    letter-spacing: 0px;
  }
}
