.test-letter {
    font-size: 19px;
    line-height: 19px;
}

.test-letter-correct {
    color : #558b2f;
}

.test-letter-incorrect {
    color: #bf360c;
}

.test-letter-not-attempted {
    color: black;
}

@media (max-width:800px) {
    .test-letter{
        font-size: 12px;
        line-height: 8px;
        letter-spacing: 0px;
    }   
}