
.testmaincont{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.test-container {
    background-color: #fff ;
    width: 85%;
    border-radius: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0 ,0, 0, 0.26);
    z-index: 99;
    overflow-x: hidden;
}

.try-again-cont {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

}   

@media (max-width:800px) {
    
    .test-container {
        width: 95%;
        min-height: 70vh;
        padding: 5px 5px;
    }
    .try-again-cont {
        min-height: 50vh;
    }
}