.nav-container {
    display: flex;
    height: 6rem;
    align-items: center;
    background: #741D1D;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0 ,0, 0, 0.26);
    justify-content: center;
    z-index:1;
}

.nav-logo{
    display: flex;
    align-items: center;    
}
.flash-logo{
    margin-left: 20px;;
    height: 40px;
}

.flash-logo-text {
    font-family: "Bangers", cursive;
    font-size: 60px;
    letter-spacing: 1px;
    margin: 0 10px;
    color: #ff2c13;
}